.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
    background-color: var(--col-background) !important;
}


.main-contents {
    height: calc(100% - 56px);
}


.main-contents {
    /*background: #f3f4f6;*/
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
}

.main-container {
    grid-area: main;
    box-shadow: inset 2px 1px 9px 1px  rgba($dark, 0.10);
    overflow: auto;
    padding-top: 2rem;
}

:root {
    --col-primary: #BB86FC;
    --col-primary-variant: #3700B3;
    --col-secondary: #03DAC6;
    --col-error: #CF6679;
    --col-background: #121212;
    --col-surface: #181818;
}

.App .card {
    border: none;
}
